@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-evenly {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text-center {
  text-align: center;
}

.gap-x-5 {
  gap: 1.25rem;
}

.gap-x-10 {
  gap: 2.5rem;
}

.mx-auto {
  margin: 0 auto;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mt-10 {
  margin-top: 2.5rem;
}

.mt-20 {
  margin-top: 5rem;
}

.mb-10 {
  margin-bottom: 2.5rem;
}

.my-5 {
  margin: 1.25rem 0;
}

.font-extrabold {
  font-weight: bolder;
}

.grow-wv-1 {
  width: 100%;
}

.navbar {
  padding: 2rem 3rem;
}

.navbar .logo img {
  height: 30px;
}

@media screen and (max-width: 920px) {
  .navbar .logo img {
    height: 20px;
  }
}

.navbar .try_now .a {
  background: transparent;
  border: 1px solid #ff52bf;
  border-radius: 30px;
  color: #ff52bf;
  padding: 0.5rem 1.5rem;
}

.navbar .try_now .a button {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
}

@media screen and (max-width: 920px) {
  .navbar .try_now .a {
    padding: 0.3rem 0.8rem;
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 920px) {
  .navbar {
    padding: 2rem 1rem;
  }
}

.hero {
  width: 75%;
  padding-top: 5rem;
}

@media screen and (max-width: 920px) {
  .hero {
    padding-top: 2rem;
  }
}

.hero h1 {
  font-family: "Poppins", sans-serif;
  font-size: clamp(1.5rem, 3rem, 3.4vw);
  text-align: center;
}

.hero p {
  width: 75%;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5em;
}

@media screen and (max-width: 920px) {
  .hero p {
    width: 100%;
    font-size: 0.8rem;
  }
}

.hero button {
  background: #ff52bf;
  color: whitesmoke;
  padding: 1rem 4rem;
  border-radius: 30px;
  margin-top: 1rem;
  font-size: 0.8rem;
  font-family: "Poppins", sans-serif;
  -webkit-box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.164);
          box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.164);
}

@media screen and (max-width: 920px) {
  .hero button {
    padding: 0.8rem 3rem;
  }
}

.hero img {
  max-width: 100%;
}

.numbers {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5rem 0;
  gap: 20rem;
}

.numbers img {
  height: 2rem;
}

@media screen and (max-width: 920px) {
  .numbers img {
    height: 1.5rem;
  }
}

.numbers h1 {
  font-family: "Poppins", sans-serif;
  font-size: 4em;
}

@media screen and (max-width: 920px) {
  .numbers h1 {
    font-size: 3em;
  }
}

.numbers span {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  white-space: nowrap;
  color: #00252e;
}

@media screen and (max-width: 920px) {
  .numbers {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    gap: 4rem;
  }
}

.grow-wv-1 {
  width: 100%;
}

.growth,
.conversations,
.users {
  padding: 5rem 2rem;
  overflow: hidden;
  gap: 2.5rem;
  background: #f5faff;
}

.growth h1,
.conversations h1,
.users h1 {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
}

@media screen and (max-width: 920px) {
  .growth h1,
  .conversations h1,
  .users h1 {
    text-align: center;
    font-size: 1.5rem;
  }
}

.growth p,
.conversations p,
.users p {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  margin-top: 1rem;
  width: 30vw;
}

@media screen and (max-width: 920px) {
  .growth p,
  .conversations p,
  .users p {
    width: 100%;
    text-align: center;
    font-size: 0.9rem;
  }
}

.growth img,
.conversations img,
.users img {
  height: 30rem;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (max-width: 920px) {
  .growth img,
  .conversations img,
  .users img {
    height: 20rem;
  }
}

@media screen and (max-width: 920px) {
  .growth,
  .conversations,
  .users {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse;
            flex-flow: column-reverse;
  }
}

.conversations {
  background: white;
}

@media screen and (max-width: 920px) {
  .conversations {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}

.getStarted {
  height: 50vh;
}

.getStarted h1 {
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
}

.getStarted button {
  background: #ff52bf;
  padding: 1rem 5rem;
  border-radius: 50px;
  font-family: "Open Sans", sans-serif;
  color: whitesmoke;
}

footer {
  background: #00252e;
  color: white;
  padding: 5rem;
}

@media screen and (max-width: 920px) {
  footer {
    padding: 1.5rem;
  }
}

footer svg {
  fill: white !important;
}

footer .social img {
  height: 30px;
  fill: white !important;
}

@media screen and (max-width: 920px) {
  footer .social img {
    height: 20px;
  }
}

footer .left {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 0 2rem;
}

footer .left p {
  font-family: "Open Sans", sans-serif;
  font-size: 0.8rem;
  width: 20rem;
}

@media screen and (max-width: 920px) {
  footer .left {
    padding: 0;
  }
}

footer .left .email img {
  -o-object-fit: contain;
     object-fit: contain;
}

footer .right {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

footer .right h1 {
  font-size: inherit;
  font-family: "Poppins", sans-serif;
}

footer .right p {
  font-family: "Open Sans", sans-serif;
  font-size: 0.8rem;
  width: 20rem;
}

footer .right .subscribe {
  width: 100%;
}

footer .right .subscribe label {
  display: none;
}

footer .right .subscribe input {
  height: 2.5em;
  border: none;
  border-radius: 5px;
}

@media screen and (max-width: 920px) {
  footer .right .subscribe input {
    width: 80vw;
  }
}

footer .right .subscribe button {
  background: #ff8fd8;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  color: white;
}

@media screen and (max-width: 920px) {
  footer .right .subscribe button {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

@media screen and (max-width: 920px) {
  footer .right .subscribe {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    gap: 1rem;
  }
}

@media screen and (max-width: 920px) {
  footer > div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse;
            flex-flow: column-reverse;
    gap: 5rem;
  }
}

[type="button"],
[type="reset"],
[type="submit"],
button {
  -moz-appearance: button;
       appearance: button;
  -webkit-appearance: button;
  border: none;
  background-color: transparent;
  background-image: none;
}

button,
a {
  cursor: pointer;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
  display: block;
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

img,
video {
  max-width: 100%;
  height: auto;
}
/*# sourceMappingURL=styles.css.map */